.purchase-content {
    display: flex;
    margin: 50px;
}

.purchase-content__left {
    width: 70%;
}

.purchase-content__left--information {
    display: flex;
    border-bottom: 1px solid #000000;
}

.exhibition-imgbox {
    width: 180px;
    height: 180px;
    background-color: #d9d9d9;
    margin: 30px 0;
}

.exhibition-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exhibition-contentbox {
    margin: 5px 30px;
    line-height: 1;
}

.exhibition-title {
    font-size: 30px;
    font-weight: 700;
}

.exhibition-price {
    font-size: 27px;
    font-weight: 400;
}

.purchase-content__left--payment {
    border-bottom: 1px solid #000000;
    padding-bottom: 50px;
}

.payment-title, .address-title {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding: 15px 15px 0 15px;
}

.payment-select {
    width: 265px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #5f5f5f;
    margin: 10px 50px;
    padding-left: 10px;
}

.purchase-content__left--address {
    border-bottom: 1px solid #000000;
    padding-bottom: 50px;
}

.address-change-link {
    font-size: 20px;
    font-weight: 400;
    color: #0073cc;
    text-decoration: none;
}

.address-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-postcode {
    margin: 10px 50px 0 50px;
    font-size: 20px;
    font-weight: 600;
}

.address-building-box {
    display: flex;
    gap: 16px;
    margin: 0 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
}

.purchase-content__right--confirm {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 230px;
    margin: 30px;
    border: 1px solid #000000;
    font-weight: 400;
}

.purchase-price {
    display: flex;
    height: 50%;
    border-bottom: 1px solid #000000;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.purchase-payment {
    display: flex;
    height: 50%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.purchase-price-title, .purchase-payment-title {
    font-size: 24px;
    margin-right: 20px;
    text-align: left;
}

.purchase-price-content, .purchase-payment-content {
    font-size: 20px;
}

.purchase-content__right--button {
    width: 440px;
    height: 60px;
    background-color: #ff5555;
    border: none;
    margin: 30px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

/* PC用 (1400px ～ 1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .purchase-content {
        margin: 50px 30px;
    }

    .purchase-content__left {
        width: 65%;
    }

    .purchase-content__right {
        width: 35%;
    }

    .purchase-price-title,
    .purchase-payment-title {
        font-size: 22px;
    }

    .purchase-price-content,
    .purchase-payment-content {
        font-size: 18px;
    }

    .purchase-content__right--button {
        font-size: 24px;
        padding: 15px;
    }

    .payment-select {
        font-size: 18px;
    }

    .purchase-price,
    .purchase-payment {
        padding: 30px;
    }
}

/* タブレット用 (768px ～ 850px) */
@media (min-width: 768px) and (max-width: 850px) {

    .purchase-content {
        flex-direction: column;
        margin: 20px;
    }

    .purchase-content__left,
    .purchase-content__right {
        width: 90%;
        margin: 0 15px;
    }

    .purchase-content__left--information {
        flex-direction: row;
    }

    .exhibition-imgbox {
        width: 120px;
        height: 120px;
        margin: 20px 15px 20px 0;
    }

    .exhibition-title {
        font-size: 24px;
    }

    .exhibition-price {
        font-size: 22px;
    }

    .purchase-content__left--payment {
        padding-bottom: 30px;
    }

    .payment-title,
    .address-title {
        font-size: 24px;
    }

    .address-change-link{
        font-size: 18px;
    }

    .payment-select {
        width: 80%;
        margin-top: 15px;
        font-size: 14px;
    }

    .purchase-price-title,
    .purchase-payment-title {
        font-size: 24px;
    }

    .purchase-price-content,
    .purchase-payment-content {
        font-size: 20px;
    }

    .purchase-content__right--confirm {
        width: 90%;
        height: 200px;
    }

    .purchase-content__right--button {
        width: 90%;
        font-size: 20px;
        padding: 10px;
    }
}